//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
$bp-desktop-xxl: 1920px;

//variables de las fuentes
$shoulder: Big Shoulders Display;
$outfit: Outfit;

//variables de colores
$beig: #D5966C;
$black: #151515;
$silver-dark: #444444;
$white: #FFFFFF;

