//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1440px;
$bp-desktop-xxl: 1920px;

//variables de color
$brown: #D5966C;
$black: #151515;
$dark-silver: #444444;
$white: #FFFFFF;

//variables de fuentes
$outfit: 'Outfit';
$bigshoulder: 'Big Shoulders';
