@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;


.header-home{
    margin-bottom: 120px;
    @include abs.breakpoint(tablet){
        position: relative;
        margin-bottom: 265px;
    }
    @include abs.breakpoint(desktopxl){
        margin-bottom: 494px;
    }
    @include abs.breakpoint(desktopxxl){
        margin-bottom: 800px;
    }
    .image-header-mobile{
        width: 100%;
        margin-bottom: 32px;
        @include abs.breakpoint(tablet){
            display: none;
        }
    }
    .image-header-tablet{
        display: none;
        @include abs.breakpoint(tablet){
            display: block;
            width: 55%;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
        }
        @include abs.breakpoint(desktopxl){
            display: none;
        }
    }
    .image-header-desktop{
        display: none;
        @include abs.breakpoint(desktopxl){
            display: block;
            position: absolute;
            z-index: -1;
            width: 70%;
            left: 0;
            top: 0;
        }
    }
    .container-header-home{
        @include abs.breakpoint(tablet){
            display: flex;
            flex-direction: column;
            gap: 48px;
            padding-top: 145px;
        }
        @include abs.breakpoint(desktopxl){
            padding-top: 190px;
            flex-direction: row;
            justify-content: space-between;
        }
        h1{
            font-size: 60px;
            font-family: abs.$bigshoulder;
            color: abs.$black;
            line-height: 55px;
            font-weight: 900;
            width: 90%;
            margin-bottom: 32px;
            @include abs.breakpoint(tablet){
                font-size: 70px;
                line-height: 65px;
                margin-bottom: 0;
                width: 53%;
                align-self: flex-end;
            }
            @include abs.breakpoint(desktopxl){
                font-size: 96px;
                line-height: 88px;
                color: abs.$white;
                align-self: normal;
                width: 41%;
            }
        }
        .text-button{
            @include abs.breakpoint(tablet){
                display: flex;
                flex-direction: column;
                gap: 48px;
                width: 53%;
                align-self: flex-end;
                @include abs.breakpoint(desktopxl){
                    align-self: normal;
                    gap: 64px;
                    width: 30%;
                }
            }
            p{
                font-size: 18px;
                font-family: abs.$outfit;
                font-weight: 300;
                color: abs.$dark-silver;
                line-height: 28px;
                margin-bottom: 32px;
                @include abs.breakpoint(tablet){
                    margin-bottom: 0;
                }
                @include abs.breakpoint(desktopxl){
                    font-size: 22px;
                    line-height: 32px;
                }
            }
            .button-header{
                display: flex;
                &:hover{
                    span{
                        cursor: pointer;
                        background-color: abs.$brown;
                    }
                    a{
                        background-color: abs.$black;
                    }
                }
                span{
                    transition: background-color 1s ease;
                    @include comp.button1;
                }
                a{
                    transition: background-color 1s ease;
                    @include comp.button1-arrow;
                }
            }
        }
    }
}

.header-location{
    position: relative;
    .image-header-location-mobile{
        width: 100%;
        display: block;
        @include abs.breakpoint(tablet){
            display: none;
        }
    }
    .image-header-location-tablet{
        display: none;
        @include abs.breakpoint(tablet){
            display: block;
            width: 100%;
        }
        @include abs.breakpoint(desktopxl){
            display: none;
        }
    }
    .image-header-location-desktop{
        display: none;
        @include abs.breakpoint(desktopxl){
            display: block;
            width: 100%;
        }
    }
    .button-header-location{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        @include abs.breakpoint(tablet){
            left: 7.5%;
        }
        @include abs.breakpoint(desktopxl){
            left: 10%;
        }
        &:hover{
            span{
                cursor: pointer;
                background-color: abs.$brown;
            }
            a{
                background-color: abs.$black;
            }
        }
        span{
            transition: background-color 1s ease;
            @include comp.button1;
        }
        a{
            transition: background-color 1s ease;
            @include comp.button1-arrow;
        }
    }
}