@use '../abstracts/abstracts' as abs;
@use '../base/base' as base;
@use '../components/components' as comp;

.main-home{
    margin-bottom: 120px;
    .container-main-home{
        @include abs.breakpoint(tablet){
            display: grid;
            align-items: stretch;
            column-gap: 11px;
            row-gap: 11px;
            grid-template-columns:0.5fr 0.5fr 0.25fr 1fr;
            grid-template-rows: 0.5fr 0.3fr 0.5fr
        }
        @include abs.breakpoint(desktopxl){
            column-gap: 30px;
            row-gap: 30px;
        }
        .image-hero-1-mobile{
            width: 100%;
            margin-bottom: 25px;
            @include abs.breakpoint(tablet){
                display: none;
            }
        }
        .image-hero-1-tablet{
            display: none;
            @include abs.breakpoint(tablet){
                display: block;
                width: 100%;
                grid-column: 3  / span 2;
                grid-row: 1 / span 1;
            }
            @include abs.breakpoint(desktopxl){
                display: none;
            }
        }
        .image-hero-1-desktop{
            display: none;
            @include abs.breakpoint(desktopxl){
                display: block;
                width: 100%;
                grid-column: 3  / span 2;
                grid-row: 1 / span 1;
            }
        }
        .title-text-white{
            margin-bottom: 32px;
            @include abs.breakpoint(tablet){
                margin-bottom: 0;
                padding-right: 57px;
                padding-bottom: 65px;
                padding-top: 36px;
                grid-column: 1 / span 2;
                grid-row: 1 / span 1;
            }
            @include abs.breakpoint(desktopxl){
                padding-top: 60px;
                padding-right: 125px;
                padding-bottom: 60px;
            }
            h2{
                font-size: 50px;
                line-height: 45px;
                font-family: abs.$bigshoulder;
                font-weight: 900;
                color: abs.$black;
                margin-bottom: 21px;
                @include abs.breakpoint(desktopxl){
                    font-size: 60px;
                    line-height: 60px;
                    margin-bottom: 32px;
                }
            }
            p{
                font-size: 18px;
                line-height: 28px;
                font-family: abs.$outfit;
                font-weight: 300;
                color: abs.$dark-silver;
                @include abs.breakpoint(desktopxl){
                    font-size: 22px;
                    line-height: 32px;
                }
            }
        }
        .image-hero-2-mobile{
            width: 100%;
            margin-bottom: 16px;
            @include abs.breakpoint(tablet){
                display: none;
            }
        }
        .image-hero-2-tablet{
            display: none;
            @include abs.breakpoint(tablet){
                display: block;
                width: 100%;
                grid-column: 1 / span 3;
                grid-row: 2 / span 2;
            }
            @include abs.breakpoint(desktopxl){
                display: none;
            }
        }
        .image-hero-2-desktop{
            display: none;
            @include abs.breakpoint(desktopxl){
                display: block;
                width: 100%;
                grid-column: 1 / span 3;
                grid-row: 2 / span 2;
            }
        }
        .image-hero-3-mobile{
            width: 100%;
            margin-bottom: 16px;
            @include abs.breakpoint(tablet){
                display: none;
            }
        }
        .image-hero-3-tablet{
            display: none;
            @include abs.breakpoint(tablet){
                display: block;
                width: 100%;
                grid-column: 4 / span 1;
                grid-row: 2 / span 1;
            }
            @include abs.breakpoint(desktopxl){
                display: none;
            }
        }
        .image-hero-3-desktop{
            display: none;
            @include abs.breakpoint(desktopxl){
                display: block;
                width: 100%;
                grid-column: 4 / span 1;
                grid-row: 2 / span 1;
            }
        }
        .title-text-black{
            background-color: abs.$black;
            padding: 48px 24px;
            @include abs.breakpoint(tablet){
                grid-column: 4 / span 1;
                grid-row: 3 / span 1;
                padding: 85px 29px;
            }
            @include abs.breakpoint(desktopxl){
                padding: 85px 47px 64px 48px ;
            }
            h2{
                font-size: 50px;
                line-height: 45px;
                font-family: abs.$bigshoulder;
                font-weight: 900;
                color: abs.$white;
                margin-bottom: 24px;
                @include abs.breakpoint(desktopxl){
                    font-size: 60px;
                    line-height: 60px;
                    margin-bottom: 32px;
                }
            }
            p{
                font-size: 18px;
                line-height: 28px;
                font-family: abs.$outfit;
                font-weight: 300;
                color: abs.$white;
                @include abs.breakpoint(desktopxl){
                    font-size: 22px;
                    line-height: 32px;
                }
            }
        }
    }
}

.main-location{
    background-color: abs.$black;
    .container-main-location{
        padding-top: 48px;
        padding-bottom: 56px;
        @include abs.breakpoint(tablet){
            padding-top: 88px;
            padding-bottom: 80px;
            display: flex;
            justify-content: space-between;
        }
        @include abs.breakpoint(desktopxl){
            padding-top: 104px;
            padding-bottom: 128px;
        }
        h1{
            font-size: 50px;
            line-height: 45px;
            font-family: abs.$bigshoulder;
            font-weight: 900;
            color: abs.$white;
            margin-bottom: 48px;
            @include abs.breakpoint(tablet){
                font-size: 55px;
                line-height: 50px;
                width: 40%;
            }
            @include abs.breakpoint(desktopxl){
                font-size: 70px;
                line-height: 70px;
                width: 30%;
            }
        }
        .street-text{
            @include abs.breakpoint(tablet){
                width: 60%;
                margin-left: 5%;
            }
            @include abs.breakpoint(desktopxl){
                width: 45%;
                margin-left: 0;
            }
            h5{
                font-size: 32px;
                line-height: 32px;
                font-family: abs.$bigshoulder;
                font-weight: 900;
                color: abs.$brown;
                margin-bottom: 20px;
                @include abs.breakpoint(desktopxl){
                    font-size: 36px;
                    line-height: 36px;
                    margin-bottom: 24px;
                }
            }
            ul{
                list-style: none;
                margin-bottom: 20px;
                margin-bottom: 32px;
                li{
                    font-size: 18px;
                    line-height: 28px;
                    color: abs.$white;
                    font-weight: 300;
                    font-family: abs.$outfit;
                    @include abs.breakpoint(desktopxl){
                        font-size: 22px;
                        line-height: 32px;
                    }
                }
            }
            p{
                font-size: 18px;
                line-height: 28px;
                color: abs.$white;
                font-weight: 300;
                font-family: abs.$outfit;
                @include abs.breakpoint(desktopxl){
                    font-size: 22px;
                    line-height: 32px;
                }
            }
        }
    }
}